<?xml version="1.0" encoding="utf-8" ?>
<KeyBindings>
  <Attack>a</Attack>
  <DisplayEquipment>e</DisplayEquipment>
  <Inventory>i</Inventory>
  <Look>l</Look>
  <MoveUp>UpArrow</MoveUp>
  <MoveDown>DownArrow</MoveDown>
  <MoveRight>RightArrow</MoveRight>
  <MoveLeft>LeftArrow</MoveLeft>
  <OpenClose>o</OpenClose>
  <PickUp>p</PickUp>
  <Wear>w</Wear>
</KeyBindings>